<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/layout :: layout (~{::body},'index')}">

<body>
	<div class="container">
		<h1 class="my-4">Admin</h1>

		<div class="card-deck mb-5">
			<div class="card">
				<div class="card-body">
					<h5>À jour de cotisation</h5>
					<p>
						<i class="far fa-address-card"></i> <span
							th:text="${memberStats.subscriptionCount}">123 </span> inscriptions
					</p>
					<p>
						<i class="fas fa-user"></i> <span
							th:text="${memberStats.totalMemberCount}">234 </span> membres
					</p>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h5>Emprunt en cours</h5>
					<p>
						<span th:text="${borrowingCount}">123 </span> jeux
					</p>
				</div>
			</div>
		</div>

		<div class="card-deck">
			<div class="card">
				<div class="card-header">
					<i class="far fa-address-card"></i> Adhérents
				</div>
				<div class="card-body">
					<p>Liste des adhérents et gestion du mot de passe</p>

				</div>
				<div class="card-footer">
					<a class="card-link" href="/admin/member">Gestion adhérents</a>
				</div>
			</div>

			<div class="card">
				<div class="card-header">
					<i class="far fa-envelope"></i> Mailing list
				</div>
				<div class="card-body">
					<p>Blabla</p>
				</div>
				<div class="card-footer">
					<a class="card-link" href="/admin/mail">Mailing list</a>
				</div>
			</div>

			<div class="card">
				<div class="card-header">
					<i class="fas fa-poll-h"></i> Statistiques
				</div>
				<div class="card-body">
					<p>Blabla</p>
				</div>
				<div class="card-footer">
					<a class="card-link" href="/admin/stats">Statistiques</a>
				</div>
			</div>

			<div class="card">
				<div class="card-header">
					<i class="fas fa-cog"></i> Gestion site
				</div>
				<div class="card-body">
					<p>Configuration de l'apparence du site et de la sécurité</p>
				</div>
				<div class="card-footer">
					<a class="card-link" href="/admin/config">Configuration</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
