<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/layout :: layout (~{::body},'index')}">

<body>

	<div class="container">
		<h1 class="my-4" th:switch="${member.password}">
			<span th:case="true">Modifier Mot de passe</span> <span th:case="*">Créer
				un Mot de passe</span>

		</h1>
		<h2>Membre</h2>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Email</th>
					<th>Type</th>
					<th>Forfait</th>
				</tr>
			</thead>
			<tr>
				<td th:text="${member.username}">1026</td>
				<td th:text="${member.firstName}">Jean</td>
				<td th:text="${member.lastName}">Dupond</td>
				<td th:text="${member.mail}">mail@mail.com</td>
				<td th:text="${member.type}">Ass. Mat.</td>
				<td th:text="${member.plan.name}">Famille</td>
			</tr>
		</table>

		<form th:action="@{/admin/member/{id}/password(id=${member.externalId})}"
			method="POST">
			<div class="mb-3">
				<label for="password" class="form-label">Mot de passe</label> <input
					type="password" id="password" name="password" class="form-control"
					required="required">
			</div>
			<button type="submit" class="btn btn-info "
				th:switch="${member.password}">
				<th:block th:case="true">Modifier</th:block>
				<th:block th:case="*">Créer</th:block>
			</button>
		</form>

	</div>

</body>
</html>
