<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/layout :: layout (~{::body},'index')}">

<body>

	<div class="container">
		<h1>Liste des inscriptions</h1>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Email</th>
					<th>Type</th>
					<th>Forfait</th>
					<th>Cotisation</th>
					<th>Membres</th>
					<th>Mot de passe</th>
				</tr>
			</thead>
			<tr th:each="user : ${users}">
				<td th:text="${user.username}">1026</td>
				<td th:text="${user.firstName}">Jean</td>
				<td th:text="${user.lastName}">Dupond</td>
				<td th:text="${user.mail}">mail@mail.com</td>
				<td th:text="${user.type}">Ass. Mat.</td>
				<td th:text="${user.plan}">Famille</td>
				<td><th:block th:if=${user.subscriptionPaid}>À jour</th:block></td>
				<td th:text="${user.otherMembers.size()}+1">7</td>
				<td><a
					th:href="@{/admin/user/{id}/password(id=${user.username})}"
					th:switch="${user.password}"> <span th:case="true">Modifier</span>
						<span th:case="*">Créer</span>
				</a></td>
			</tr>
		</table>
	</div>

</body>
</html>
