<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/layout :: layout (~{::body},'index')}">

<body>

	<div class="container">
		<h1 th:switch="${user.password}">
			<span th:case="true">Modifier Mot de passe</span> <span th:case="*">Créer
				un Mot de passe</span>

		</h1>
		<h2>Membre</h2>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Email</th>
					<th>Type</th>
					<th>Forfait</th>
				</tr>
			</thead>
			<tr>
				<td th:text="${user.username}">1026</td>
				<td th:text="${user.firstName}">Jean</td>
				<td th:text="${user.lastName}">Dupond</td>
				<td th:text="${user.mail}">mail@mail.com</td>
				<td th:text="${user.type}">Ass. Mat.</td>
				<td th:text="${user.plan.name}">Famille</td>
			</tr>
		</table>

		<form th:action="@{/admin/user/{id}/password(id=${user.externalId})}" method="POST">
			<label for="password" class="form-label">Mot de passe</label> <input
				type="password" id="password" name="password" class="form-control" required="required">
			<button type="submit" class="btn">Envoyer</button>
		</form>

	</div>

</body>
</html>
