<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{member/layout :: layout (~{::body},'index')}">

<body>

	<div class="text-center mb-3 py-4 bg-info text-white">
		<h1 th:text="${#servletContext.getAttribute('title')}">Title</h1>
	</div>

	<div class="container">
		<div class="container-fluid">
			<div class="row mb-3 ">
				<!-- Should improve : Use 'col-md-7' and 'mr-3'-->
				<div class="card bg-light col-md-7 mr-3">
					<div class="card-header">
						<h5 class="card-title">
							<i class="far fa-address-card"></i> Mon inscription
						</h5>
					</div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-6">
								<p>
									<strong> <span th:text="${member.firstName}">Jean</span>
										<span th:text="${member.lastName}">Paul</span>
									</strong>
								</p>
								<ul th:each="member : ${member.otherMembers}">
									<li th:text="${member}">Léa</li>
								</ul>
							</div>
							<div class="col-md-6">
								<p>
									<i class="fas fa-phone"></i> <span th:text="${member.phone}">0511223344</span>
								</p>
								<p>
									<i class="fas fa-envelope"></i> <span th:text="${member.email}">joe@foo.bar</span>
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="card bg-light col-md-4">
					<div class="card-header">
						<h5 class="card-title">
							Forfait : <span th:text="${member.plan.name}">Famille</span>
						</h5>
					</div>
					<p>
						Début : <span th:text="${member.plan.startDate}"></span> - Fin : <span
							th:text="${member.plan.endDate}"></span>
					</p>
					<p>
						Cotisation à jour : <span th:if="${member.plan.subscriptionPaid}">Oui</span>
						<span th:unless="${member.plan.subscriptionPaid}" class="xxx">Non</span>
					</p>
					<p>
						Nombre d'emprunt max : <span
							th:text="${member.plan.maxBorrowingCount}"></span>
					</p>
					<p>
						Durée d'emprunt max : <span
							th:text="${member.plan.maxBorrowingDuration}"></span>
					</p>

				</div>
			</div>
		</div>

		<div class="card border-light">
			<h5>
				<i class="fas fa-chess-knight"></i> Emprut en cours ( <span
					th:text="${#lists.size(member.borrowings)}">4</span> / <span
					th:text="${member.plan.maxBorrowingCount}">5</span> )
			</h5>

			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th>Nom du jeu</th>
						<th>Date de début</th>
						<th>Date de fin</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="borrowing : ${member.borrowings}">
						<th th:text="${borrowing.game.name}">Puisance 4</th>
						<th th:text="${borrowing.startDate}">02/03/89</th>
						<th th:text="${borrowing.endDate}">22/03/90</th>
					</tr>
			</table>
		</div>

	</div>

</body>
</html>
