<!doctype html>
<html th:fragment="layout (template, menu)">
<head th:insert="common :: head">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" href="/">
						<i class="fas fa-home"></i> Accueil
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<div th:replace="${template}" />

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>