<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>LudoWeb</title>
<link rel="stylesheet" type="text/css"
	href="//stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<script src="https://kit.fontawesome.com/f3ab414337.js"
	crossorigin="anonymous"></script>
</head>

<body>
	<div class=jumbotron>
		<h1>Initialisation</h1>
	</div>
	<div class="container">


		<h2>Bienvenu !</h2>
		<p>Pour démarrer, vous devez définir un identifant et un mot de
			passe pour le compte administrateur. Il sera possible de modifier ces
			paramètres de connexion ultérieurement.</p>
		<p>
			<strong>Attention :</strong> conserver ces informations. Si vous
			perdez les informations de connexions du compte administrateur, il ne
			sera impossible de les récupérer ou de les modifier.
		</p>

		<form method="post" action="/init">
			<table class="mb-3">
				<tr>
					<td>Identifiant</td>
					<td><input type="text" name="adminCredentials.username"></td>
				</tr>
				<tr>
					<td>Mot de passe</td>
					<td><input type="password" name="adminCredentials.password" /></td>
				</tr>
			</table>
			<button class="btn btn-primary">Enregistrer</button>
		</form>

	</div>
</body>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</html>
