<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout-admin :: layout (~{::body},'index')}">

<body>
	<div class="container">
		<h1>Admin</h1>
		<p>En développement. Fonctionnalités prévues:</p>
		<ul>
			<li>Listing user + gestion mot de passe</li>
			<li>Mailing list</li>
			<li>Stats ?</li>
			<li>Gestion site
				<ul>
					<li>Gestion Auth API</li>
					<li>Customisation (title, img)</li>
				</ul>
			</li>
		</ul>
	</div>
</body>
</html>
